<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <form>
        <label for="Family_Processor">Family Processor</label>
        <select id="Family_Processor" name="Family_Processor">
            <option value="nota" disabled>--Serie Intel--</option>
            <option value="i3">Intel Core i3 (Gama baja)</option>
            <option value="i5">Intel Core i5 (Gama media)</option>
            <option value="i7">Intel Core i7 (Gama alta)</option>
            <option value="i9">Intel Core i9 (Gama entusiasta)</option>
            <option value="Pentium">Intel Pentium (Gama económica)</option>
            <option value="Celeron">Intel Celeron (Gama básica)</option>
            <option value="Xeon">Intel Xeon (Uso profesional y servidores)</option>
        </select>
    </form>
    <form id="i3">
    <label for="Processor_i3">Processor i3</label>
    <select id="Processor_i3" name="Processor_i3" disabled>
        <option value="nota" disabled >--First generation--</option>
        <option value="i3-530">Intel Core i3-530</option>
        <option value="i3-540">Intel Core i3-540</option>

        <option value="nota" disabled >--Second generation--</option>
        <option value=" i3-2100">Intel Core i3-2100</option>
        <option value="i3-2120">Intel Core i3-2120</option>

        <option value="nota" disabled >--Third generation--</option>
        <option value="i3-3220">Intel Core i3-3220</option>
        <option value="i3-3240">Intel Core i3-3240</option>

        <option value="nota" disabled >--Fourth generation--</option>
        <option value="i3-4130">Intel Core i3-4130</option>
        <option value="i3-4150">Intel Core i3-4150</option>

        <option value="nota" disabled >--Fifth generation--</option>
        <option value="i3-6100">Intel Core i3-6100</option>
        <option value="i3-6300">Intel Core i3-6300</option>

        <option value="nota" disabled >--Sixth generation--</option>
        <option value="i3-7100">Intel Core i3-7100</option>
        <option value="i3-7300">Intel Core i3-7300</option>

        <option value="nota" disabled >--Seventh generation--</option>
        <option value="i3-8100">Intel Core i3-8100</option>
        <option value="i3-8350K">Intel Core i3-8350K </option>

        <option value="nota" disabled >--Eighth generation--</option>
        <option value="i3-9100">Intel Core i3-9100</option>
        <option value="i3-9100F">Intel Core i3-9100F</option>

        <option value="nota" disabled >--Ninth generation--</option>
        <option value="i3-10100">Intel Core i3-10100</option>
        <option value="i3-10100F">Intel Core i3-10100F</option>

        <option value="nota" disabled >--Tenth generation--</option>
        <option value="i3-11100">Intel Core i3-11100</option>
        <option value="i3-11300">Intel Core i3-11300</option>

        <option value="nota" disabled >--Eleventh generation--</option>
        <option value="i3-12100">Intel Core i3-12100</option>
        <option value="i3-12100F">Intel Core i3-12100F</option>

        <option value="nota" disabled >--Twelfth generation--</option>
        <option value="i3-13100">Intel Core i3-13100</option>
        <option value="13100F">Intel Core i3-13100F</option>
    </select>
    </form>
    
    <button id="activar">Activar</button>

    <form id="i5">
        <label for="Processor_i5">Processor i5</label>
        <select id="Processor_i5" name="Processor_i5">
            <option value="nota" disabled >--First generation--</option>
            <option value=" i5-530">Intel Core i5-530</option>
            <option value="i5-540">Intel Core i5-540</option>
    </form>

    <form id="i7">
        <label for="Processor_i7">Processor i7</label>
        <select id="Processor_i7" name="Processor_i7">
            <option value="nota" disabled >--First generation--</option>
            <option value="i7-530">Intel Core i7-530</option>
            <option value="i7-540">Intel Core i7-540</option>
    </form>

    <form id="i9">
        <label for="Processor_i9">Processor i9</label>
        <select id="Processor_i9" name="Processor_i9">
            <option value="nota" disabled >--First generation--</option>
            <option value="i9-530">Intel Core i9-530</option>
            <option value="i9-540">Intel Core i9-540</option>
    </form>
</body>
</html>