<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC Armor</title>
  <link rel="stylesheet" href="/style.css"> <!-- Conexión opcional al CSS -->
</head>
<body>
  <h1>PC Armor</h1>

  <button id="btn">Haz clic aquí</button>


  <script src="/script.js"></script> <!-- Conexión al archivo JS -->
<!--Procesadores-->

<!-- Forms chose Family Processor -->
  <form>
      <label for="Family_Processor">Family Processor <br></label>
      <select id="Family_Processor" name="Family_Processor">
          <option value="nota" disabled>--Serie Intel--</option>
          <option value="i3">Intel Core i3 (Gama baja)</option>
          <option value="i5">Intel Core i5 (Gama media)</option>
          <option value="i7">Intel Core i7 (Gama alta)</option>
          <option value="i9">Intel Core i9 (Gama entusiasta)</option>
          <option value="intel_Pentium">Intel Pentium (Gama económica)</option>
          <option value="intel_Celeron">Intel Celeron (Gama básica)</option>
          <option value="intel_Xeon">Intel Xeon (Uso profesional y servidores)</option>
      </select>
  </form>

   
    <!-- Form Processor  -->
    <form id="processor">
        <label for="processorfor">Processor <br></label>
        <select id="processorfor" name="processorfor">
            <!--lista de procesadores -->
        </select>
    </form>

    <!--mother board -->
    <form id="mother">
        <label for="mother_board">Mother board <br></label>
        <select name="mother_board" id="mother_board">
            <!--creo opcion con javascript y los lleno con las mothers que son compatibles-->
        </select>
    </form>

    <!--video card -->
    <form id="graphic">
        <label for="graphic_for">video card <br></label>
        <select name="graphic_for" id="graphic_for">
            
        </select>
    </form>


    <!--RAM -->
    <form id="ram">
        <label for="ram_for">RAM <br></label>
        <select name="ram_for" id="ram_for">
            
        </select>
    </form>

    <!--Storage -->
    <form id="Storage">
        <label for="Storage_for">Storage <br></label>
        <select name="Storage_for" id="Storage_for">
            
        </select>
    </form>

    <!--font-->
    <form id="font">
        <label for="font_for">font <br></label>
        <select name="font_for" id="font_for">
            
        </select>
    </form>
    
</body>
</html>