<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC Armor</title>
  <link rel="stylesheet" href="/style.css"> <!-- Conexión opcional al CSS -->
</head>
<body>
  <h1>PC Armor</h1>

  <button id="btn">Haz clic aquí</button>


  <script src="/script.js"></script> <!-- Conexión al archivo JS -->
<!--Procesadores-->

<!-- Forms chose Family Processor -->
  <form>
      <label for="Family_Processor">Family Processor</label>
      <select id="Family_Processor" name="Family_Processor">
          <option value="nota" disabled>--Serie Intel--</option>
          <option value="i3">Intel Core i3 (Gama baja)</option>
          <option value="i5">Intel Core i5 (Gama media)</option>
          <option value="i7">Intel Core i7 (Gama alta)</option>
          <option value="i9">Intel Core i9 (Gama entusiasta)</option>
          <option value="intel_Pentium">Intel Pentium (Gama económica)</option>
          <option value="intel_Celeron">Intel Celeron (Gama básica)</option>
          <option value="intel_Xeon">Intel Xeon (Uso profesional y servidores)</option>
      </select>
  </form>

    <!-- Form Processor i3 -->
    <form id="intel_i3">
        <label for="Processor_i3">Processor i3</label>
        <select id="Processor_i3" name="Processor_i3">
            <!--lista de procesadores i3-->
        </select>
    </form>

    <!-- Form Processor i5 -->
    <form id="intel_i5">
        <label for="Processor_i5">Processor i5</label>
        <select id="Processor_i5" name="Processor_i5">
            <!--lista de procesadores i5-->
        </select>
    </form>

    <!-- Form Processor i7 -->
    <form id="intel_i7">
        <label for="Processor_i7">Processor i7</label>
        <select id="Processor_i7" name="Processor_i7">
            <!--lista de procesadores i7-->
        </select>
    </form>

    <!-- Form Processor i9 -->
    <form id="intel_i9">
        <label for="Processor_i9">Processor i9</label>
        <select id="Processor_i9" name="Processor_i9">
            <!--lista de procesadores i9-->
        </select>
    </form>

    <!--mother board -->
    <form id="mother">
        <label for="mother_board">Mother board</label>
        <select name="mother_board" id="mother_board">
            <!--creo opcion con javascript y los lleno con las mothers que son compatibles-->
        </select>
    </form>

    <!--graphic -->
    <form id="graphic">
        <label for="graphic_for">Graficas</label>
        <select name="graphic_for" id="graphic_for">
            
        </select>
    </form>

    <!--RAM -->
    <form id="graphic">
        <label for="graphic_for">Graficas</label>
        <select name="graphic_for" id="graphic_for">
            
        </select>
    </form>

    <!--Storage -->
    <form id="graphic">
        <label for="graphic_for">Graficas</label>
        <select name="graphic_for" id="graphic_for">
            
        </select>
    </form>

    <!--font-->
    <form id="graphic">
        <label for="graphic_for">Graficas</label>
        <select name="graphic_for" id="graphic_for">
            
        </select>
    </form>

    <p id="prueba">eiou</p>
</body>
</html>